@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
.container{
    transition: all linear .5s;
}
.header{
    /* border: 2px solid black; */
    display: flex;
    width: 70vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.themeBtn{
    /* height: fit-content; */
    padding: 10px 35px;
    height: 50px;
    border-radius: 40px;
    font-weight: 800;
    font-size: 25px;

}
 .quesBox{
    padding: 40px 0px;
    /* border: 2px solid red;  */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px gray;
    width: 70vw;
    margin: auto;
    margin-top: 30px ;
    text-align: center;  
}  
.options{
    display: block;
    padding: 14px;
    font-size: 20px;
    border-radius: 50px ;
    width: 50vw;
    margin:20px auto;
    /* background-color: #f2f3fe; */
    background-color: #f2f2f2;
    border: none;
    box-shadow: inset 0px 0px 7px 0px ;

}
.options:hover{
    /* background-color: #d7bfff; */
    /* box-shadow: none; */
    border: 2px solid ;
}
.options:active{
    transform: scale(.97);
}
::selection{
    color: orange;
}

.optbox{
    text-align: center;
}
.resultBox{
    border-radius: 10px;
    /* border: 2px solid green; */
    box-shadow: 0 0 10px 0 gray;
    /* background-color: #a2a8d3; */
    width: 40vw;
    margin:50px auto;
    text-align: center;
    padding: 50px;
}
.restart{
    padding: 15px 25px;
    border-radius: 30px;
}
.highlightbtn{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    margin:15px 5px;
    border: 1px solid ;
}

.highlightbtn:hover{
    border: 2px solid ;
}




.main{
    box-shadow: 0px 0px 10px 0px ;
    width: 40vw;
    margin:100px auto;
    text-align: center;
    max-height: 400px;
    padding: 50px;
}
.main h1{
    font-size: 50px;
    font-family: "Lemon", serif;
    /* color: #e7eaf6; */
}

.start{
    margin-top: 50px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 7px 0px ;
    border: none;
    font-size: 25px;
    /* background-color: rgb(204, 195, 241); */
    transition: all linear .5s;
}
.start:active{
    /* box-shadow: none; */
    transform: scale(0.9);
}